<router-outlet></router-outlet>
<!-- Footer -->
<footer>
  <div class="footer-wrapper">
    <h5><img src="../../../../assets/img/BunkerPetBold.png" alt="Logo BunkerPet" />BunkerPet</h5>
    <ul>
      <li><a href="https://gitlab.com/krmirandas/bunker-pet" target="_blank" title="Código fuente"><img
            src="../../../../assets/img/gitlab.svg" alt="Logo Gitlab"></a></li>
      <li><a href="https://vangho.ga/#slide=1" target="_blank" title="Empresa desarrolladora"><img
            src="../../../../assets/img/r-arrow.svg" alt="Logo VANGHO">VANGHO</a></li>
    </ul>
  </div>
</footer>
<!-- Footer -->