body, html{
    font-family: "gotham-htf";
}
h1,h2,h3,h4,h5,h6{
    color: $gray-800;
    font-family: "crimsom-text";
}

p{
    color: $gray-600;
    font-family: "gotham-htf";
}

a{
    color: $blue;
    font-weight: bold;
}