<section class="content">
  <h3>Mi perfil</h3>
  <div class="profile-info">
    <div class="img-container">
      <img src={{petsitter_info.image}} alt="">
      <h3>{{petsitter_info.name}} {{petsitter_info.last_name}}</h3>
    </div>
    <div class="profile-desc">
      <div class="desc-info">
        <div class="field">
          <h5 class="strong-info">Nombre:</h5>
          <h5 class="info">{{petsitter_info.name}}</h5>
        </div>
        <div class="field">
          <h5 class="strong-info">Apellido:</h5>
          <h5 class="info">{{petsitter_info.last_name}}</h5>
        </div>
        <div class="field">
          <h5 class="strong-info">Email:</h5>
          <h5 class="info">{{petsitter_info.email}}</h5>
        </div>
        <div class="field">
          <h5 class="strong-info">Teléfono:</h5>
          <h5 class="info">{{petsitter_info.phone}}</h5>
        </div>
        <div class="field">
          <h5 class="strong-info">Ciudad:</h5>
          <h5 class="info">{{petsitter_info.city}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>