<!-- MAIN-CONTENT
  =============================== -->
<section class="main-content" id="main-content">
  <section class="split-left">
    <div class="text">
      <h2 class="title">Cuidamos a tu mascota como tú lo harías</h2>
      <p class="desc">
        En <strong>BukerPet</strong> contamos con cuidadores certificados
        los cuales harán sentir a tu mascota como en casa
      </p>
      <button class="button"><a href="#info">Más información</a></button>
    </div>
  </section>
  <section class="split-right">
  </section>
</section>

<!-- INFO-->
<section id="info" class="info">
  <div class="info-container">
    <h2 class="title">¿Qué puedo hacer?</h2>
    <div class="info-dueño">
      <h3 class="subtitle">Contrata un cuidador</h3>
      <p class="desc">Si estas buscando un cuidador para tu mascota mientras tú no estas en casa,
        <strong>BunkerPet</strong> te ayudará a encontrar al indicado.<br>Contamos con cuidadores
        los cuales brindan servicios como:</p>
      <div class="servicios">
        <ul>
          <li><img src="../../../assets/img/banera.png" alt="Perro en bañera"><span>Baños</span></li>
          <li><img src="../../../assets/img/walk.png" alt="Paseo de perro"><span>Paseos</span></li>
          <li><img src="../../../assets/img/rss-feed.png" alt="Alimentación de perro"><span
              id="feed">Alimentación</span>
          </li>
          <li><img src="../../../assets/img/entrenamiento-canino.png"
              alt="Entrenamiento de perro"><span>Entrenamientos</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-cuidador">
      <h3 class="subtitle">Vuélvete un cuidador</h3>
      <p class="desc">Si eres amante de los animales y quieres generar un ingreso extra por cuidar mascotas,
        <strong>BunkerPet</strong> te ayudará a promocionar tus servicios. <br>Como cuidador puedes elegir:
      </p>
      <div class="servicios">
        <ul>
          <li><img src="../../../assets/img/reloj.png" alt="Reloj"><span>Horarios</span></li>
          <li><img src="../../../assets/img/dinero.png" alt="Monedas"><span>Tarifas</span></li>
          <li><img src="../../../assets/img/lista.png" alt="Lista de tareas"><span>Servicios</span></li>
          <li><img src="../../../assets/img/mascotas.png" alt="Perro y gato"><span id="catdog">Mascota a cuidar</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="back-button">
      <button class="button"><a routerLink="#main-content" title="Ir al inicio"><img class="arrow"
            src="../../../assets/img/arriba.png" alt="Flecha"></a></button>
    </div>
  </div>
</section>
