@charset "UTF-8";
@font-face {
  font-family: "crimsom-text";
  src: url(assets/fonts/CrimsonText-Regular.ttf);
}
@font-face {
  font-family: "gotham-htf";
  src: url(assets/fonts/GothamHTF-Book.ttf);
}
@font-face {
  font-family: "gotham-htf-medium";
  src: url(assets/fonts/GothamHTF-Medium.otf);
}
@font-face {
  font-family: "open-sans";
  src: url(assets/fonts/OpenSans-Regular.ttf);
}